.header {
  background: white;
  border-radius: 5px;
  height: 225px;
}
.login-form {
  background: #0F4E33;
  border-radius: 5px;
  float: right;
  margin-right: 9px;
  margin-top: 9px;
  padding: 10px;
}
.mod-form {
  background: #7B9F53;
  border-radius: 5px;
  float: right;
  margin-right: 40%;
  margin-top: 9px;
  padding: 10px;
  text-align: center;
}
.mod-form2 {
  border-radius: 5px;
  float: right;
  margin-top: 9px;
  text-align: center;
}
.mod-form3 {
  border-radius: 5px;

  margin-left: 25%;
  margin-top: -7px;
  padding: 10px;
  text-align: center;
  width: 13%;
}
.regis {
  margin-left: 25%;
  width: 50%;
}
.form-grouptxt {
  float: right;
  margin-right: 26%;
}
.espacio {
  margin-bottom: 178px;
}
input {
  margin-bottom: 5px;
  text-align: center;
}
.crunchify-top:hover {
  background-color: #DBE6FF;
  color: #fff !important;
  text-decoration: none;
}

.crunchify-top {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3.2rem;
  bottom: 1rem;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 1.4rem;
  height: 3.2rem;
  line-height: 3.2rem;
  position: fixed;
  right: 1rem;
  text-align: center;
  text-decoration: none;
  width: 3.2rem;
}
.logo {
  float: left;
  margin-left: 2%;
  padding: 1% 3px 3px;
}
.title {
  padding-top: 4%;
  text-align: center;
}
input {
  margin-bottom: 5px;
  text-align: center;
  border-radius: 5px;
}
/*///////////////////////////menu/////////////////////*/
ul {
  background-color: #0F4E33;
  border: 2px solid #3E2308;
  border-radius: 5px;
  display: block;
  float: left;
  list-style-type: none;
  overflow: hidden;
  position: absolute;
  width: 99.6%;
}

li {
    float: left;
}

li a {
  border-radius: 5px;
  color: white;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #7B9F53;
  color: #fff;
}

li a.active {
  background-color: #17326e;
  color: white;
}

.perfilimg {
  margin-top: 5px;
  text-align: center;
}
.logologin {
  text-align: center;
}
/*/////////////////////////////////////////////*/
.filtro {
  background: #5080ef none repeat scroll 0 0;
  border-radius: 5px;
  box-shadow: 14px 14px 18px #999;
  margin-left: 42%;
  margin-top: 20px;
  padding: 1%;
  text-align: center;
  width: 220px;
  border: 2px solid #fff;
}
.destacado {
  background: #5080ef none repeat scroll 0 0;
  border-radius: 5px;
  box-shadow: 14px 14px 18px #999;
  float: left;
  height: auto;
  margin-bottom: 110px;
  margin-left: 3%;
  margin-top: 3%;
  width: 43%;
  padding: 1%;
}

.destacado > a {
   float: right;
  margin-top: -30px;
  margin-right: 15px;
}
.necesito > a {
   float: right;
  margin-top: -30px;
  margin-right: 15px;
}
.not {
  background: #dbe6ff none repeat scroll 0 0;
  border-radius: 5px;
  border-top: 2px solid #fff;
  display: inline-block;
  height: auto;
  margin: 9px;
  width: 48%;
}
.necesito {
  background: #5080ef none repeat scroll 0 0;
  border-radius: 5px;
   box-shadow: 14px 14px 18px #999;
  float: right;
  height: auto;
  margin-bottom: 110px;
  margin-right: 3%;
  margin-top: 3%;
  width: 43%;
  padding: 1%;
}
.titlofrezco {
  background: #5080ef none repeat scroll 0 0;
  border: 4px solid #fff;
  display: block;
  text-align: center;
    text-align: center;
  margin-bottom: 2%;
}
.notic {
  background: #dbe6ff none repeat scroll 0 0;
  border-radius: 5px;
  display: inline-table;
  height: 550px;
  margin-bottom: 2%;
  margin-left: 7%;
  padding: 1%;
  width: 37%;
  border: 3px solid transparent;
}
.notic:hover {
  background: #dbe6ff none repeat scroll 0 0;
  border-radius: 5px;
  display: inline-table;
  height: 550px;
  margin-bottom: 2%;
  margin-left: 7%;
  padding: 1%;
  width: 37%;
  border: 3px solid #0E2862;
}
.notimg {
  text-align: center;
}
.notcont {
  margin-left: 3%;
  padding: 2%;
}
.notic > a {
  text-decoration: none;
  color: #5080ef !important;
  text-align: center !important;
}
.notic h1 {
  color: #5080ef !important;
}
.notic h1:hover{
  color: #17326E !important;
}
.notcont > h2 {
  color: #2358d1;
  font-family: icon;
  font-size: 20px;
  line-height: 15px;
  position: absolute;
  text-align: left;
}
.notimg > img {
  border: 4px solid #fff;
  border-radius: 5px;
}
.titlofrezco img {
  float: right;
  margin-right: 1%;
  margin-top: -5%;
}

.footer {
  background: #5080ef none repeat scroll 0 0;
  border-radius: 5px;
  bottom: 0;
  display: flex;
  height: 100px;
  margin-top: 100px;
  width: 100%;
}
.footimg {
  margin-left: 39%;
  margin-top: 18px;
  text-align: center;

}
.perfil {
  display: inline-block;
  float: left;
  height: 100%;
  width: 50%;
}
.info {
  display: inline-block;
  width: 30%;
}
.slider {
  box-shadow: 20px 20px 20px #999;
}
* {
    margin: 0;
    padding: 0;
}

h3 {
    color:white !important;
}

h3 {
    color:white !important;
}

#titulo_header {
    color:black !important;
    font-size: 3em;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
  background: #7B9F53;
  height: auto;
  padding: 1px;
}

h1 { color: white }
/*/////////////////////////////other/////////////////////*/

h2{
  color:#4000FF;
  text-align:left;
  font-family:icon;
  font-size: 30px;
  position: absolute;
}

.log-status.wrong-entry {
  -webkit-animation: wrong-log 0.3s;
  -moz-animation: wrong-log 0.3s;
  -ms-animation: wrong-log 0.3s;
  animation: wrong-log 0.3s;
}
.log-status.wrong-entry .form-control, .wrong-entry .form-control + .fa {
  border-color: #ed1c24;
  color: #ed1c24;
  }
@keyframes wrong-log {
  0% { left: 0px;}
  20% {left: 15px;}
  40% {left: -15px;}
  60% {left: 15px;}
  80% {left: -15px;}
  100% {left: 0px;}
}
@-ms-keyframes wrong-log {
  0% { left: 0px;}
  20% {left: 15px;}
  40% {left: -15px;}
  60% {left: 15px;}
  80% {left: -15px;}
  100% {left: 0px;}
}
@-moz-keyframes wrong-log {
  0% { left: 0px;}
  20% {left: 15px;}
  40% {left: -15px;}
  60% {left: 15px;}
  80% {left: -15px;}
  100% {left: 0px;}
}
@-webkit-keyframes wrong-log {
  0% { left: 0px;}
  20% {left: 15px;}
  40% {left: -15px;}
  60% {left: 15px;}
  80% {left: -15px;}
  100% {left: 0px;}
}
.log-btn {
  background: #0F4E33;
  border: medium none;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  height: 20px;
  margin-bottom: 5px;
  text-decoration: none;
  width: 100%;
}
.log-btn:hover {
  border: medium none;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  height: 20px;
  margin-bottom: 5px;
  text-decoration: none;
  width: 100%;
}
.out-btn{
  background:#FF0000;
  display:inline-block;
  width:100%;
  font-size:14px;
  height:20px;
  width: 120px;
  color:#fff;
  text-decoration:none;
  border:none;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
   opacity: 0.8;
}
.out-btn:hover{
  background:#FF0000;
  display:inline-block;
  width:100%;
  font-size:14px;
  height:20px;
  width: 120px;
  color:#fff;
  text-decoration:none;
  border:none;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
   opacity: 1;
}
.sign-btn {
  background: #5858fa none repeat scroll 0 0;
  border: medium none;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  height: 20px;
  margin-bottom: 5px;
  text-decoration: none;
  width: 100%;
   opacity: 0.8;
}
.sign-btn:hover {
  background: #5858fa none repeat scroll 0 0;
  border: medium none;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  height: 20px;
  margin-bottom: 5px;
  text-decoration: none;
  width: 100%;
  opacity: 1;
}

.alert{
  display:none;
  font-size:12px;
  color:#f00;
  float:left;
}
.btns {
  float: left;
  margin-top: -30px;
}
#contactos {
    line-height:30px;
    width:32%;
    float:right;
    padding:5px;
}
#contactMap {
  position: fixed;
  float:left;
  padding:75px;
}
#googleMap{
  display: inline-block;
  width:800px;
  height:550px;
  position: absolute;
}
#panel_ruta{
  position: absolute;
  background: grey;
  height: 550px;
  width: 250px;
  display: none;
  overflow-y: scroll;
}
.log-error{
  text-align: center;
  color: red;
}
/*/////////////////////////////actividades////////////////////////////////*/
.titleact {
  background: #5080ef none repeat scroll 0 0;
  border: 4px solid #fff;
  display: block;
  margin-left: 25%;
  margin-top: 5%;
  text-align: center;
  width: 50%;
}
.actividades {
  background: #dbe6ff none repeat scroll 0 0;
  border: none;
  margin-bottom: 20px;
  margin-left: 25%;
  width: 50%;
}
.coin {
  background: #5080ef none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 2%;
  text-align: center;
}

.prin-img {
  display: block;
  height: 100%;
  padding: 2%;
}
.actividad {
  border-radius: 5px;
  height: auto;
  padding: 2%;
}
.actividad2 {
  padding: 1%;
  height: auto;
}

.subir {
  float: right;
  margin-right: 2%;
  margin-top: 1%;
  width: 50%;
}
/*/////////////////////////////donaciones////////////////////////////////*/
.donaciones {
    background: #87aafa none repeat scroll 0 0;
    border: 4px solid #fff;
    border-radius: 5px;
    float: right;
    margin-right: 14%;
    margin-top: 0.4%;
    padding: 2%;
    text-align: center;
    width: 13%;
}
.dona {
  background: #7cb5ec none repeat scroll 0 0;
  border: 1px solid #fff;
  border-radius: 5px;
  float: right;
  height: 105px;
  margin-left: 1%;
  padding: 1%;
  width: 30%;
}
.total {
  margin-bottom: 20px;
  text-align: center;
}
.botonindex {
  background: #5080ef none repeat scroll 0 0;
  border-radius: 5px;

  margin-bottom: 10px;
  padding: 2%;
  text-align: center;
}
.botonindex:hover {
  background: #5080ef none repeat scroll 0 0;
  border-radius: 5px;

  margin-bottom: 10px;
  padding: 2%;
  text-align: center;
  opacity: 0.6;
}
.botonindex > a {
  color: white;
  text-decoration: none;
}
.boton {
  background: #5080ef none repeat scroll 0 0;
  border-radius: 5px;
  float: right;
  margin-bottom: 10px;
  padding: 2%;
  text-align: center;
}
.boton:hover {
  background: #5080ef none repeat scroll 0 0;
  border-radius: 5px;
  float: right;
  margin-bottom: 10px;
  padding: 2%;
  text-align: center;
  opacity: 0.6;
}
.boton > a {
  color: white;
  text-decoration: none;
}

.log-btn2 {
  background: #DBE6FF none repeat scroll 0 0;
  border: medium none;
  border-radius: 4px;
  color: #87AAFA;
  display: inline-block;
  font-size: 14px;
  height: 20px;
  margin-bottom: 5px;
  text-decoration: none;
  width: 100%;
  opacity: 0.8;
}
.log-btn2:hover {
  background: #58acfa none repeat scroll 0 0;
  border: medium none;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  height: 20px;
  margin-bottom: 5px;
  text-decoration: none;
  width: 100%;
  opacity: 1;
}

.titledona {
  background: #5080ef none repeat scroll 0 0;
  border: 4px solid #fff;
  display: block;
  margin-left: 15%;
  margin-top: 5%;
  text-align: center;
  width: 50%;
}
.donacionestxt {
  background: #87aafa none repeat scroll 0 0;
  border: 4px solid #fff;
  border-radius: 5px;
  margin-left: 15%;
  margin-top: -11%;
  padding: 1%;
  width: 48.3%;
}
.donacio {
  margin-top: 12%;
}
.formaPago {
  margin-left: 15%;
}
.formaPago > img {
  border-radius: 5px;
}
/*/////////////////////////////////////ususers//////////////////////*/
.usuarios {
  margin-left: 25%;
  width: 50%;
  background: #dbe6ff none repeat scroll 0 0;
  border: 4px solid #fff;
}
.users{
  border-bottom: 2px solid #0F4E33;
  border-radius: 5px;
  padding: 2%;
}
.titluse {
  background: #5080ef none repeat scroll 0 0;
  border: 4px solid #fff;
  display: block;
  margin-left: 25%;
  margin-top: 5%;
  text-align: center;
  width: 50%;
}


/*/////////////////////////////////////registro//////////////////////*/
.mod-form4 {
  background:none 0 0 repeat scroll #DBE6FF;
  border-radius:5px;
  float:right;
  margin-right:40%;
  margin-top:9px;
  padding:10px;
  text-align:center;
}
.bienvenido {
  line-height: 25px;
  margin-left: 20%;
  width: 50%;
}
.form-group {
  text-align: center;
}

/*/////////////////////////////////////ver mas//////////////////////*/

.actividad > img {
  float: left;
  margin-bottom: 3%;
  margin-right: 1%;
}
#map {
  border-radius: 5px;
  height: 200px;
  margin-left: 0;
  width: 100%;
}
/*/////////////////////////////////////icons//////////////////////*/
#foto {
  background: #0F4E33;
  color: white;
  margin-top: 10px;
  padding: 1%;
}
.fa {
    display: inline-table!important;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa.fa-user {
  margin-right: 5px;
}
.fa.fa-at {
  margin-right: 5px;
}
.fa-cc-visa{
  margin-right: 2px;
}
.fa.fa-lock {
  margin-right: 7px;
}
.fa.fa-phone {
  margin-right: 5px;
}
.fa.fa-newspaper-o {
  margin-right: 2px;
}
.fa.fa-user-times.fa-2x {
  color: #5080ef;
  opacity: 0.6;
}
.fa.fa-power-off.fa-2x {
  color: red;
  opacity: 0.9;
}
.fa.fa-pencil-square-o.fa-2x:hover {
  color: #5080ef;
  opacity: 1;
}
.fa.fa-user-times.fa-2x:hover {
  color: #5080ef;
  opacity: 1;
}
.fa.fa-power-off.fa-2x:hover {
  color: red;
  opacity: 1;
}
.fa.fa-pencil-square-o.fa-2x:hover {
  color: #5080ef;
  opacity: 1;
}
.fa-edit::before, .fa-pencil-square-o::before {
  color: #5080ef;
  content: "ï„";
}
/*/////////////////////////////////////responsive//////////////////////*/

@media (max-width: 440px) {
.title > h1 {
  display: none;
}
.header {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(80, 128, 239, 1) 0%, rgba(80, 128, 239, 1) 8%, rgba(219, 230, 255, 1) 100%) repeat scroll 0 0;
  border-radius: 5px;
  height: 240px;
}
.logo img {
  width: 100%;
}
.menu {
  height: 100px;
}
.logo {
  float: left;
  margin-left: 2%;
  margin-top: 0;
  padding: 1% 3px 3px;
  width: 40%;
}
input {
  max-width: 100%;
}
.login-form {
  background: #dbe6ff none repeat scroll 0 0;
  border-radius: 5px;
  float: right;
  margin-right: 9px;
  margin-top: 9px;
  padding: 10px;
  width: 40%;
}
.filtro {
  background: #5080ef none repeat scroll 0 0;
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: 14px 14px 18px #999;
  margin-left: 15%;
  margin-top: 20px;
  padding: 1%;
  text-align: center;
  width: 220px;
}
.titlofrezco {
  background: #5080ef none repeat scroll 0 0;
  border: 4px solid #fff;
  display: block;
  font-size: 14px;
  height: 65px;
  margin-bottom: 2%;
  text-align: center;
}
.titlofrezco img {
  margin-right: 40%!important;
  margin-top: 0!important;
}
.notic h1 {
  color: #5080ef !important;
  font-size: 16px;
}
.notcont > h2 {
  color: #2358d1;
  font-family: icon;
  font-size: 14px;
  line-height: 15px;
  position: absolute;
  text-align: left;
}
.notic {
  background: #dbe6ff none repeat scroll 0 0;
  border-radius: 5px;
  display: inline-table;
  height: 470px;
  margin-bottom: 10%;
  margin-left: 3%;
  padding: 1%;
  width: auto;
}
.notic:hover {
  background: #dbe6ff none repeat scroll 0 0;
  border-radius: 5px;
  display: inline-table;
  height: 470px;
  margin-bottom: 10%;
  margin-left: 3%;
  padding: 1%;
  width: auto;
}
.footimg > img {
  max-width: 60px;
}
.footimg {
  margin-left: 1%;
  margin-top: 18px;
  text-align: center;
}
/*///////////////////////*/
.titleact {
  background: #5080ef none repeat scroll 0 0;
  border: 4px solid #fff;
  display: block;

  margin-left: 2%;
  margin-top: 5%;
  text-align: center;
  width: 90%;
}
.regis {
  margin-left: 3%;
  text-align: justify;
  width: 90%;
}
.form-grouptxt {
  float: left;
  margin-left: 2%;
}
.mod-form3 {
  border-radius: 5px;
  margin-left: 2%;
  padding: 10px;
  text-align: center;
  width: 90%;
}
.mod-form {
  background: #dbe6ff none repeat scroll 0 0;
  border-radius: 5px;
  float: left;
  margin-left: 2%;
  margin-top: 9px;
  padding: 10px;
  text-align: center;
}
.dona {
  background: #7cb5ec none repeat scroll 0 0;
  border: 1px solid #fff;
  border-radius: 5px;
  float: right;
  height: auto;
  margin-left: 1%;
  margin-top: 20px;
  padding: 1%;
  width: 45%;
  height: 160px;
}
.total {
  display: block;
  margin-bottom: 4%;
  padding: 0%;
  position: absolute;
  text-align: center;
  width: 100%;
}
.actividades {
  background: #dbe6ff none repeat scroll 0 0;
  margin-bottom: 20px;
  margin-left: 2%;
  width: 90%;
  border: none;
}
/*//////////////////////////////*/
.titluse {
  background: #5080ef none repeat scroll 0 0;
  border: 4px solid #fff;
  display: block;
  margin-left: 2%;
  margin-top: 5%;
  text-align: center;
  width: 90%;
}
.usuarios {
  background: #dbe6ff none repeat scroll 0 0;
  border: 4px solid #fff;
  margin-left: 2%;
  width: 90%;
}
.users {
  border-bottom: 2px solid #17326e;
  border-radius: 5px;
  height: 100px;
  padding: 2%;
}
.btns {
  float: left;
  margin-top: 0;
}
.titledona {
  background: #5080ef none repeat scroll 0 0;
  border: 4px solid #fff;
  display: block;
  margin-left: 2%;
  margin-top: 5%;
  text-align: center;
  width: 92%;
}
.donacionestxt {
  background: #87aafa none repeat scroll 0 0;
  border: 4px solid #fff;
  border-radius: 5px;
  margin-left: 2%;
  margin-top: -11%;
  padding: 1%;
  width: 90%;
  text-align: justify;
}
.donaciones {
  background: #87aafa none repeat scroll 0 0;
  border-radius: 5px;
  display: block;
  float: left;
  margin-left: 5%;
  margin-top: 1.4%;
  padding: 2%;
  text-align: center;
  width: 71%;
  border:none;
}
p {
  padding: 3%;
}
.actividad > img {
  float: left;
  margin-bottom: 3%;
  margin-right: 1%;
  width: 100%;
}
.actividades {
  background: #dbe6ff none repeat scroll 0 0;
  border: medium none;
  margin-bottom: 20px;
  margin-left: 2%;
  width: 95%;
}
.mod-form4 {
  background: #dbe6ff none repeat scroll 0 0;
  border-radius: 5px;
  float: left;
  margin-left: 2%;
  margin-top: 9px;
  padding: 10px;
  text-align: center;
}
.bienvenido {
  line-height: 25px;
  margin-left: 4%;
  width: 90%;
}
}
